
  @import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;500;700;800&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Mulish:wght@400;500;700;800&display=swap');



  *{
    font-family: 'Mulish', sans-serif;
    font-family: 'Inter', sans-serif;
  

  }

  header{
    padding: 50px 240px;
   

  }

  nav{
    height: 56px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;
    margin:0 auto;
    

}
.logo{
    color: #131318;
font-family: Mulish;
font-size: 36px;
font-style: normal;
font-weight: 800;
line-height: normal;
}
nav > ul{
    display: flex;
   
}
nav li {
    list-style: none;
    margin-right: 44px ;
    color: #424247;
text-align: center;
font-family: Mulish;
font-size: 18px;
font-weight: 400;
}

nav li a{
    text-decoration: none;
    color: ( #424242);
}

.container{
    align-items: center;
    position: relative;
    text-align: center;
    border-radius: 16px;
   

}
.center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
  
}
.banner{
    color: #FFF;
font-family: Mulish;
font-size: 64px;
font-style: normal;
font-weight: 800;
line-height: normal;
margin: auto;
padding-bottom: 24px;
}
.banner-description{
    color: #FFF;
   text-align: center;
  margin: auto;
    padding-bottom: 48px;
    width: 676px;
font-family: Mulish;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 26px; /* 162.5% */
    
}
.input-field{
    display: flex;
    padding: 16px;
    align-items: flex-start;
    gap: 24px;
    border-radius: 8px;
background: rgba(255, 255, 255, 0.30);
}
.field{
    width: 174px;
height: 52px;
flex-shrink: 0;
border-radius: 8px;
background: #FFF;
border: none;
}
.field::placeholder{
    color: rgba(19, 19, 24, 0.50);
   padding-left: 16px;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.search-icon{
    background: url(../icons/search.svg);
    background-position: left;
    background-repeat: no-repeat;
    width: 24px;
height: 24px;
position: absolute;

}

.field-btn{
    width: 174px;
height: 52px;
border-radius: 8px;
border: none;
background-color: #FF5400; 
color: #fff; 
font-family: Mulish;
font-size: 16px;
font-weight: 400;

}
main{
   
 
}

.feature{
  
    display: flex;
    justify-content: center;
  margin: auto;
  
  
}

.feature-content{
    width: 577PX;
    height: 550px;
    padding-right: 53px;
    margin: 0;
}
.feature-content-title{
    color: #131318;
margin: auto;
font-family: Mulish;
font-size: 40px;
font-style: normal;
font-weight: 800;
line-height: normal;
padding-bottom: 24px;
}
.feature-content-description{
    color: rgba(19, 19, 24, 0.70);
font-family: Mulish;
font-size: 16px;
font-style: normal;
margin: auto;
padding-bottom: 24px;
font-weight: 400;
line-height: 26px; /* 162.5% */
}
.btn-primary1{
    border-radius: 8px;
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 20px;
    font-weight: 800;
    border: none;
    background: #FF5400;
    width: 174px;
height: 52px;

}
.destination{
    display: block;
    justify-content: center;
}
.destination-title{
    color: #131318;
text-align: center;
font-family: Mulish;
font-size: 40px;
font-style: normal;
margin: auto;
padding-top: 100px;
padding-bottom: 24px;
font-weight: 800;
line-height: normal;
}

.destination-content{
    color: rgba(19, 19, 24, 0.70);
text-align: center;
width: 643px;
font-family: Mulish;
font-size: 16px;
margin: auto;
font-style: normal;
font-weight: 400;
line-height: 26px;
padding-bottom: 24px; /* 1
62.5% */
}
.colage{
    width: 1170px;
    position: relative;
    justify-content: center;
  margin: auto;
  
}
.row{
    display: flex;
    padding-top: 24px;
    gap: 24px;
    
}


.hide{
display: none;
    
}




/*resposive media queries */
/*mobile devices*/
@media screen and (max-width: 576px) {
    .nav, .nav li, .nav li a,
    .feature,
    .destination
   
    {
        flex-direction: column;
    }
    .destination-title{
        width: 100%;
        text-align: center;
        margin: auto;
       
    }
    .destination-content{
        width: 100%;
        text-align: center;
        
        
    }
    .row{
        flex-direction: column;
        width: 50%;
        gap: 24px;
        object-fit: cover;
    }
}